csharp/Fau/bin
csharp/Fau/obj
csharp/Fau.Tests/bin
csharp/Fau.Tests/obj
csharp/Fau.Tests/TestResults
vendor
php/test_results
typescript/node_modules
typescript/.nyc_output
typescript/*.js
typescript/*.d.ts
typescript/**/*.js
typescript/**/*.d.ts
python/*/__pycache__
python/.coverage
python/.pytest_cache
python/*/*.pyc
python/build
python/dist
python/fau.egg-info
python/.mypy_cache
